header{
  text-align: center;
  height: 100px;
  margin: 25px;
}
html{
  background-color: #fff8f2;
  font-family: 'Roboto', sans-serif;
}
p{
  text-align: center;
}

.image1{
  width: 20%;
  margin-left: 200px;
}
.image2{
  width: 20%;
  margin-right: 200px;

}
.image1, .image2{
  border: 1px solid black;
}

footer{
  background-color: #686868;
  height: 50px;
  text-align: right;
  color:white;
  padding-top: 5px;


}
