html{
  background-color: #fff8f2;
  font-family: 'Roboto', sans-serif;
}

header{
  text-align: center;
  height: 50px;
  margin: 25px;
}

body{
  margin: 0px;
}
p{
  text-align: center;
}

#container3 {
    position: relative;
    min-height: 100%
}




.image1, .image2{
  border: 1px solid black;
}

main{
  height: 350px;
}
.container{
  display: flex;
  justify-content:  center;
}

.container2{
  display: flex;
  justify-content: center;
}

.image2{
  margin-left: 100px;
}

.lien2{
  margin-left: 250px;
}

footer{
  background-color: #686868;
  width: 100%;
  height: 200px;
  color:white;
  padding-top: 50px;
  margin: 0px;
}
footer p {
  text-align: right;
}
